<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Simple Flex Boxes Using Tailwind </title>
    <link rel="stylesheet" href="../../../dist/output.css" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <style>
        html {
            font-family: inter;
        }
    </style>
</head>
<body>
    <header class="sticky bg-blue-700 p-2 text-lg text-slate-50 mb-4" >
        <h1>Flexbox Articles from Smashing Magazine</h1>
    </header>
    <main class="p-2">
        <section class="bg-blue-50 border-blue-500 rounded-">
            <h2 class="font-semibold bg-blue-200 p-1 text-indigo-900 text-sm">
            <a href="https://www.smashingmagazine.com/2018/08/flexbox-display-flex-container/">1. What happens when you create a flexbox container ?</a>
            </h2>
            <p class="text-sm p-1">
                <div class="flex p-2 border-b-rose-900 rounded-xl">
                    <div class="w-96 h-50 p-2  bg-amber-600 border-amber-900 rounded-xl">1</div>
                    <div class="w-50 h-50 p-2 border-amber-800 rounded-2xl">2</div>
                </div>
            </p>
        </section>
    </main>
    
</body>
</html>